@import "tailwindcss";

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Neo Brutalism Theme */
body {
  background: #000;
  color: #fff;
  font-family: 'Space Grotesk', sans-serif;
}

/* Hard Borders */
.brutal {
  border: 3px solid #fff;
  box-shadow: 6px 6px 0px #fff;
}

/* Hover Interaction */
.brutal:hover {
  transform: translate(-4px, -4px);
  box-shadow: 10px 10px 0px #fff;
}

/* Scrollbar (optional clean) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #fff;
}